*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


/.idea/workspace.xml
/intermediates
/captures
**/local.properties
**/.DS_Store
**/bin/
**/gen/
**/out/
gradle/
**/*.iml
.idea/
bin/
gradlew